*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root {
    --main-bg-color: url('./image/bg.jpg');
    --dashboard-bg:rgba(44, 44, 44, 0.459);
    --larger-h1:clamp(.1rem ,5vw + 1rem, 20rem);
    --large:clamp(.1rem ,2.5vw + 1.25rem, 20rem);
    --p:clamp(.1rem ,1vw + .3rem, 20rem);
    --medium-font:clamp(.1rem ,1vw + .7rem, 20rem);
    --smaller:clamp(.1rem ,1vw + .2rem, 10rem);
    --small:clamp(.5rem ,.95vw + .1rem, 20rem);
    --medium:clamp(.1rem ,5vw + 1rem, 20rem);
    --color-h1: rgba(144, 240, 255, 0.929);
    --global-font: 'Teko', sans-serif;
    --page2-block-bg: rgba(51, 51, 51, 0.2);
    --page2-block-bg-dark:rgba(0, 42, 47, 0.292);
    --page2-dashboard-bg: rgba(0, 6, 59, 0.189);
    --search-bar-width:clamp(.9rem ,20vw + 1rem, 20rem);
    --search-bar-heigth:clamp(.9rem ,1.25vh + 1rem, 20rem);
    --search-bar-color : rgba(144, 240, 255, 0.929);
    --search-button-font-size :17px;
    --small-data-font:clamp(.5rem ,.5vw + .45rem, 20rem);
}
:root {
    --larger-h1:clamp(.5rem ,5vw + .2rem, 5rem);
    --search-button-font-size: 10px;
    --search-bar-width:clamp(.9rem ,40vw + 1rem, 20rem);
}

#dashboardcontainer{
    background-color: rgba(0, 0, 0, 0.42);
}
#search-container{
    flex-direction: column;
}

.location>select{
    padding-left: 0px;
    text-align: center;
     border: 2px solid rgb(255, 255, 255);
     border-radius: 5px;
     width:var( --search-bar-width);
     font-size: var(--search-button-font-size);
   
   }
.search{
        margin-top: 10px;
       border: 2px ;
       border-radius: 7px;
       padding: 2.7px 15px 2.7px 15px;
       width:auto;
       font-size: var(--search-button-font-size);
}
.location-region{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    
}
.location-region>select{
    margin-top: 10px;
    padding-left: 0px;
    text-align: center;
     border: 2px solid rgb(255, 255, 255);
     border-radius: 5px;
     width:var( --search-bar-width);
     font-size: var(--search-button-font-size);
  
}
h1::before{
    left: 40px; 
     top:150px;
} 